/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

--fs-1: 4rem;
/**
 * spacing
 */
--section-padding: 100px;

--fs-1: 7rem;

.hero .play-btn {
    display: none;
}

.hero {
    padding-block-start: 90px;
    background-position: left;
}

    .hero .container {
        display: grid;
        gap: 20px;
    }

.hero-title::after {
    bottom: -15px;
    left: 0;
    width: 70px;
    height: 5px;
    background-color: var(--maximum-blue-green);
}

.hero-text {
    margin-block: 40px;
}

.hero-banner {
    max-width: 300px;
    margin-inline: auto;
}
